#app3 .div1{
    width: 50px;
    height: 50px;
    border: 1px solid #C6C6C6;
    background-color: red;
    margin: 50px;
    transition: transform 1s;
}
#app3 .div1.move{
    transform: translateX(20vw);
}
